<form [formGroup]="form" (ngSubmit)="submit()" class=" bg-faded">
  <div class="form-group row">
    <label for="firstName" class="col-sm-3 col-form-label"><strong>Imię <span
      class="text-primary">*</span></strong></label>
    <div class="col-sm-9">
      <input id="firstName" type="text" class="form-control" formControlName="firstName"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-3 col-form-label"><strong>Nazwisko</strong></label>
    <div class="col-sm-9">
      <input id="lastName" type="text" class="form-control" formControlName="lastName"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="zip" class="col-sm-3 col-form-label"><strong>Kod pocztowy</strong></label>
    <div class="col-sm-9">
      <input id="zip" type="text" class="form-control" formControlName="zip"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="city" class="col-sm-3 col-form-label"><strong>Miasto</strong></label>
    <div class="col-sm-9">
      <input id="city" type="text" class="form-control" formControlName="city"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="street" class="col-sm-3 col-form-label"><strong>Ulica</strong></label>
    <div class="col-sm-9">
      <input id="street" type="text" class="form-control" formControlName="street"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="houseNumber" class="col-sm-3 col-form-label"><strong>Numer domu</strong></label>
    <div class="col-sm-9">
      <input id="houseNumber" type="text" class="form-control" formControlName="houseNumber"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="apartmentNumber" class="col-sm-3 col-form-label"><strong>Numer lokalu</strong></label>
    <div class="col-sm-9">
      <input id="apartmentNumber" type="text" class="form-control" formControlName="apartmentNumber"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-sm-3 col-form-label"><strong>Telefon</strong></label>
    <div class="col-sm-9">
      <input id="phone" type="text" class="form-control" formControlName="phone"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label"><strong>E-mail</strong></label>
    <div class="col-sm-9">
      <input id="email" type="text" class="form-control" formControlName="email"/>
    </div>
  </div>
  <div class="text-right">
    <button pButton type="button" class="ui-button-primary" icon="fas fa-times" label="Anuluj" (click)="cancel()"></button>
    <button pButton type="submit" class="ui-button-success" icon="far fa-save" label="Zapisz"
            [disabled]="!form.valid"></button>
  </div>
</form>

