<div class="row justify-content-center" style="margin: 10px 0 30px;">
  <i class="fas fa-arrow-left tile-category-dark col-1 " style="line-height: inherit;" routerLink="/dashboard"></i>
  <div class="tile-category-dark col-11 ">Dodaj samochód osobowy</div>
</div>

  <div class="row justify-content-center">
    <div class="col-6" id="firstCarPanel">
      <app-add-cars-client-search [clientNumber]="car?.client_id" (selectedClient)="getClientId($event)"></app-add-cars-client-search>

      <p-panel header="Samochód" class="mb-3 col-6">
        <div *ngIf="editedField !== 'car'">
          <div class="row  mb-3">
            <div class="col-3"><strong>Marka</strong></div>
            <div class="col-7">{{car?.brand}}</div>
            <div class="col-2 text-right">
              <button pButton type="button" icon="fas fa-edit" class="ui-button-secondary"
                      (click)="toggleEdit('car')"></button>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Model</strong></div>
            <div class="col-sm-9">{{car?.model}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>VIN</strong></div>
            <div class="col-sm-9">{{car?.vin}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Numer rejestracyjny</strong></div>
            <div class="col-sm-9">{{car?.registrationNumber}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Rok produkcji</strong></div>
            <div class="col-sm-9">{{car?.productionYear}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Pojemność</strong></div>
            <div class="col-sm-9">{{car?.capacity}}</div>
          </div>
        </div>
        <app-add-cars-edit *ngIf="editedField === 'car'"
                           [defaultBrand]="car?.brand"
                           [defaultModel]="car?.model"
                           [defaultVin]="car?.vin"
                           [defaultRegistrationNumber]="car?.registrationNumber"
                           [defaultProductionYear]="car?.productionYear"
                           [defaultCapacity]="car?.capacity"
                           (submitForm)="submitCar($event)"
                           (cancelForm)="resetEdit()">
        </app-add-cars-edit>
      </p-panel>
    </div>
    <div class="col-6" id="secondCarPanel">
      <p-panel header="Samochód" class="mb-3 col-6">
        <div *ngIf="editedField !== 'car2'">
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Moc silnika</strong></div>
            <div class="col-sm-7">{{car?.enginePower}}</div>
            <div class="col-2 text-right">
            <button pButton type="button" icon="fas fa-edit" class="ui-button-secondary"
                    (click)="toggleEdit('car2')"></button>
          </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Rodzaj paliwa</strong></div>
            <div class="col-sm-9">{{car?.fuel}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Data rejestracji</strong></div>
            <div class="col-sm-9">{{car?.registrationDate}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Wersja pojazdu</strong></div>
            <div class="col-sm-9">{{car?.carVersion}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Numer dowodu</strong></div>
            <div class="col-sm-9">{{car?.drSeries}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Przebieg</strong></div>
            <div class="col-sm-9">{{car?.course}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Data dodania</strong></div>
            <div class="col-sm-9">{{car?.dateAdded}}</div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3"><strong>Opis</strong></div>
            <div class="col-sm-9">{{car?.info}}</div>
          </div>
        </div>

        <app-add-cars-edit2 *ngIf="editedField === 'car2'"
                            [defaultEnginePower]="car?.enginePower"
                            [defaultFuel]="car?.fuel"
                            [defaultRegistrationDate]="car?.registrationDate"
                            [defaultCarVersion]="car?.carVersion"
                            [defaultDrSeries]="car?.drSeries"
                            [defaultCourse]="car?.course"
                            [defaultDateAdded]="car?.dateAdded"
                            [defaultInfo]="car?.info"
                            (submitForm)="submitCar2($event)"
                            (cancelForm)="resetEdit()">
        </app-add-cars-edit2>
      </p-panel>
    </div>
  </div>
