$default-color: #dcdcdc;

#dashboard-side {
  color: $default-color;
  padding-top: 1em;
}

#company-name {
  font-size: 2.8em;
  margin: 1.5rem 0;
}

.title {
  font-size: 1.555em;
  margin: 1rem 0;
}
