<section id="search" class="row">
  <div class="col-12 col-md-8">
    <div class="searchTitle">Czego poszukasz?</div>
    <span class="fas fa-search"></span><input type="text" class="col-11 inputSearchForm" placeholder="szukaj...">
    <div class="searchResult" >FORD MUSTANG VI, SEDAN, 1996r, GDA1313, JAN KOWALSKI, WARSZAWA, <span class="fas fa-phone-volume" title="telefon"></span> +48
      555 555 555
    </div>
  </div>
  <div class="col-4 text-right ">

    <!--<span class="navbar-text nav-link oi oi-account-logout" style="color: #6f3a7d;font-size: 30px;"></span>-->


  </div>
</section>
