<p-panel header="Klient" class="mb-3 col-6">
  <div *ngIf="editedField !== 'client'">
    <div class="row  mb-3">
      <div class="col-1"><span class="fas fa-search"></span></div>
      <div class="col-9 searchBox">
        <input (keyup)="searchTerm.next($event.target.value)" class="col-12 form-control" type="text">
        <div class="dropinfo col-12">
          <ul *ngIf="clientsList" class="">
            <li *ngFor="let client of clientsList | slice:0:5" class="" (click)="choiceClient(client.client_id)">
              <span class="far fa-check-square text-primary"></span> {{ client.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2 text-right">
        <button pButton type="button" icon="fas fa-plus" class="ui-button-secondary"></button>
      </div>
    </div>
    <div class="row  mb-3">
      <div class="col-3"><strong>Klient</strong></div>
      <div class="col-9">
        {{client?.name}} {{client?.firstName}} {{client?.lastName}}, {{client?.city}}, {{client?.street}}
        {{client?.houseNumber}}/{{client?.apartmentNumber}}, tel. {{client?.phone}}
      </div>
    </div>
  </div>
</p-panel>
