<section id="dashboardBody" class="row dynamicTile justify-content-center">
  <div class="col-4 dynamicTileSection">
    <div class="tile-category-dark">STRONA GŁÓWNA</div>
    <div class="row ">
      <div class="col-12 maxi">
        <div id="tile1" class="tile">
          <div class="carousel slide" data-ride="carousel" data-interval="16000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Opis Projektu</div>
                <div class="tileCaption tileCaptionBody ">
                  <h3>
                    <i class="fas fa-lightbulb"></i> WARSZTAT ++<br>
                    <span>Pomoc do programu automapa</span></h3>
                  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aliquid
                    asperiores aspernatur at consectetur cum cumque dolores eaque eligendi
                    eveniet explicabo iste laborum molestias necessitatibus nisi officiis,
                    provident, ullam veniam voluptatum?</p>
                  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Explicabo,
                    nostrum.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tileHeader">WYSZUKIWARKA</div>
                <div class="tileCaption tileCaptionBody ">
                  <h3>Jak działa wyszukiwarka</h3>
                  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aliquid
                    asperiores aspernatur at consectetur cum cumque dolores eaque eligendi
                    eveniet explicabo iste ...</p>
                  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Explicabo,
                    nostrum.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12">
        <div id="tile28" class="tile" style="    padding: 4px;">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileCaption tileCaptionBody ">
                  <h3>Dodatkowe info</h3>
                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Explicabo,
                    nostrum.</p>
                </div>
              </div>
              <!--<div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/hot2.png"
                       class="img-responsiv0 d-block w-100e"/>
              </div>
              <div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/hot3.png"
                       class="img-fluid d-block w-100"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-6 ">
    <div class="tile-category-light">
      KATEGORIE
    </div>
    <div class="row ">
      <div class="col-4">
        <div id="tile21" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Samochody</div>
                <h3 class="tileCaptionHeader"><i class="fas fa-car"></i></h3>
              </div>
              <!--<div class="carousel-item">-->
              <!--<h3 class="tilecaptionheader">Customize your tiles</h3>-->
              <!--</div>-->
              <!--<div class="carousel-item">-->
              <!--<h3 class="tilecaption">Text, Icons, Images</h3>-->
              <!--</div>-->
              <!--<div class="carousel-item">-->
              <!--<h3 class="tilecaption">Combine them and create your metro style</h3>-->
              <!--</div>-->

            </div>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div id="tile22" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Klienci</div>
                <h3 class="tileCaptionHeader"><i class="far fa-handshake"></i></h3>
              </div>
              <!--<div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/twitter2.png"
                       class="img-fluid d-block w-100"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>

      <div class="col-4">
        <div id="tile23" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Serwis</div>
                <h3 class="tileCaptionHeader"><i class="fas fa-wrench"></i></h3>
              </div>
              <!--<div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/hot2.png"
                       class="img-responsiv0 d-block w-100e"/>
              </div>
              <div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/hot3.png"
                       class="img-fluid d-block w-100"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div id="tile24" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Raporty</div>
                <h3 class="tileCaptionHeader"><i class="fab fa-wpforms"></i></h3>
              </div>
              <!--<div class="carousel-item">
                  <img src="http://handsontek.net/demoimages/tiles/twitter2.png"
                       class="img-fluid d-block w-100"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>

      <div class="col-4">
        <div id="tile25" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Przeglądy</div>
                <h3 class="tileCaptionHeader"><i class="fas fa-stethoscope"></i></h3>
              </div>
              <!-- <div class="carousel-item">
                   <img src="http://handsontek.net/demoimages/tiles/hot2.png"
                        class="img-responsiv0 d-block w-100e"/>
               </div>
               <div class="carousel-item">
                   <img src="http://handsontek.net/demoimages/tiles/hot3.png"
                        class="img-fluid d-block w-100"/>
               </div>-->
            </div>
          </div>

        </div>
      </div>


      <div class="col-4">
        <div id="tile26" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item  active">
                <div class="tileHeader">Ustawienia</div>
                <h3 class="tileCaptionHeader"><i class="fas fa-cogs"></i></h3>
              </div>
              <!--<div class="carousel-item ">
                  <img src="http://handsontek.net/demoimages/tiles/music2.png" class="img-fluid"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div id="tile27" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tileHeader">Wiadomości</div>
                <h3 class="tileCaptionHeader"><i class="fas fa-envelope"></i></h3>
              </div>
              <!--<div class="carousel-item ">
                  <img src="http://handsontek.net/demoimages/tiles/calendar2.png"
                       class="img-fluid"/>
              </div>-->
            </div>
          </div>

        </div>
      </div>

      <div class="col-8" style="padding:5px">
        <div id="tile10" class="tile">

          <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h3 class="tileCaption">Coś tu będzie...</h3>
              </div>
              <div class="carousel-item">
                <h3 class="tileCaption">Jeszcze nie wiem co</h3>
              </div>
              <div class="carousel-item">
                <h3 class="tileCaption">Najwyżej zostanie dziura</h3>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>
