<div class="row justify-content-center" style="margin: 10px 0 30px;">
  <i class="fas fa-arrow-left tile-category-dark col-1 " style="line-height: inherit;" routerLink="/dashboard"></i>
  <div class="tile-category-dark col-11 ">Dodaj klienta</div>
</div>

<div class="row justify-content-center">
  <div class="col-6" id="firstCarPanel">

    <p-panel header="Klient" class="mb-3 col-6">
      <div *ngIf="editedField !== 'client'">
        <div class="row  mb-3">
          <div class="col-3"><strong>Imię</strong></div>
          <div class="col-7">{{client?.firstName}}</div>
          <div class="col-2 text-right">
            <button pButton type="button" icon="fas fa-edit" class="ui-button-secondary"
                    (click)="toggleEdit('client')"></button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3"><strong>Nazwisko</strong></div>
          <div class="col-sm-9">{{client?.lastName}}</div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3"><strong>Adres</strong></div>
          <div class="col-sm-9">{{client?.zip}} {{client?.city}}<br>{{client?.street}}
            {{client?.houseNumber}}/{{client?.apartmentNumber}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3"><strong>Telefon</strong></div>
          <div class="col-sm-9">{{client?.phone}}</div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3"><strong>E-mail</strong></div>
          <div class="col-sm-9">{{client?.email}}</div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-3"><strong>Data modyfikacji</strong></div>
          <div class="col-sm-9">{{client?.modificationDate}}</div>
        </div>
      </div>
      <app-add-client-edit *ngIf="editedField === 'client'"
                           [defaultFirstName]="client?.firstName"
                           [defaultLastName]="client?.lastName"
                           [defaultZip]="client?.zip"
                           [defaultCity]="client?.city"
                           [defaultStreet]="client?.street"
                           [defaultHouseNumber]="client?.houseNumber"
                           [defaultApartmentNumber]="client?.apartmentNumber"
                           [defaultPhone]="client?.phone"
                           [defaultEmail]="client?.email"
                           (submitForm)="submitClient($event)"
                           (cancelForm)="resetEdit()">
      </app-add-client-edit>

    </p-panel>
  </div>
  <div class="col-6" id="secondCarPanel">
    <p-panel header="Lista samochodów" class="mb-3 col-6">
      <div class="row mb-3">
        <div class="col-sm-12 text-right">
          <button pButton type="button" icon="fas fa-plus" class="ui-button-secondary"
                  [routerLink]="['/dashboard/',{outlets:{primary:'add-car/null/'+client?.client_id, side_column:'menu/cars-management' }}]"></button>
        </div>
      </div>
   <app-add-client-car-list [client_id]="client?.client_id"></app-add-client-car-list>
    </p-panel>
  </div>
</div>
