<div class="row justify-content-center" style="margin: 10px 0 30px;">
  <i class="fas fa-arrow-left tile-category-dark col-1 " style="line-height: inherit;" routerLink="/dashboard"></i>
  <div class="tile-category-dark col-11 ">Lista samochodów osobowych</div>
</div>

<div class="row justify-content-center">
  <div class="col-12">
    <div class="table-tile">
      <div class="ui-widget-header row">
        <div class="text-left col-6">
        </div>
        <div class="text-right col-6">
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText placeholder="Global Filter" class="globalSearch">
        </div>
      </div>

      <p-dataTable [value]="cars" [rows]="10" [paginator]="true" [pageLinks]="3" [stacked]="stacked" [responsive]="true"
                   [rowsPerPageOptions]="[5,10,20,50]" sortMode="multiple" [globalFilter]="gb" #dt
                   resizableColumns="true">
        <p-column field="brand" header="Brand" [sortable]="true" [filter]="true" filterPlaceholder="Brand"></p-column>
        <p-column field="model" header="Model" [sortable]="true" [filter]="true" filterPlaceholder="Model"></p-column>
        <p-column field="productionYear" header="Rocznik" [sortable]="true" [filter]="true"
                  filterPlaceholder="Rocznik"></p-column>
        <p-column field="vin" header="Vin" [sortable]="true" [filter]="true" filterPlaceholder="Vin"></p-column>
        <p-column field="registrationNumber" header="Nr rej" [sortable]="true" [filter]="true"
                  filterPlaceholder="Nr rej"></p-column>
        <p-column field="registrationDate" header="Data" [sortable]="true" [filter]="true"
                  filterPlaceholder="Data"></p-column>

        <p-column field="" header="" [sortable]="false" [filter]="false" styleClass="action-icon">
          <ng-template let-car="rowData" pTemplate type="body">
            <div class="dropdown">
              <i class="fas fa-ellipsis-v" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false" title="opcje"></i>
              <div class="dropdown-menu" aria-labelledby="dropdownAction">
                <a class="dropdown-item" href="#"
                   [routerLink]="['/dashboard/',{outlets:{primary:'add-car/'+car?.car_id, side_column:'menu/cars-management' }}]">Pokaż</a>
                <a class="dropdown-item" href="#"
                   [routerLink]="['/dashboard/',{outlets:{primary:'add-car/'+car?.car_id+'/null/car', side_column:'menu/cars-management' }}]">Edytuj</a>
                <a class="dropdown-item" href="#" (click)="removeCar(car?.car_id)">Usuń</a>
              </div>
            </div>
          </ng-template>
        </p-column>

        <ng-template pTemplate="paginatorLeft">
          <button type="button" pButton icon="fas fa-sync-alt"></button>
          <button pButton type="button" (click)="toggle()" style="margin-bottom:10px" icon="fa-list"
                  class="text-left"></button>
        </ng-template>
      </p-dataTable>
    </div>
  </div>
</div>


