<form [formGroup]="form" (ngSubmit)="submit()" class=" bg-faded">
<div class="form-group row">
    <label for="enginePower" class="col-sm-3 col-form-label"><strong>Moc silnika</strong></label>
    <div class="col-sm-9">
      <input id="enginePower" type="text" class="form-control" formControlName="enginePower"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="fuel" class="col-sm-3 col-form-label"><strong>Rodzaj paliwa</strong></label>
    <div class="col-sm-9">
      <input id="fuel" type="text" class="form-control" formControlName="fuel"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="registrationDate" class="col-sm-3 col-form-label"><strong>Data rejestracji</strong></label>
    <div class="col-sm-9">
      <input id="registrationDate" type="text" class="form-control" formControlName="registrationDate"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="carVersion" class="col-sm-3 col-form-label"><strong>Wersja pojazdu</strong></label>
    <div class="col-sm-9">
      <input id="carVersion" type="text" class="form-control" formControlName="carVersion"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="drSeries" class="col-sm-3 col-form-label"><strong>Numer dowodu</strong></label>
    <div class="col-sm-9">
      <input id="drSeries" type="text" class="form-control" formControlName="drSeries"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="course" class="col-sm-3 col-form-label"><strong>Przebieg</strong></label>
    <div class="col-sm-9">
      <input id="course" type="text" class="form-control" formControlName="course"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="dateAdded" class="col-sm-3 col-form-label"><strong>Data dodania</strong></label>
    <div class="col-sm-9">
      <input id="dateAdded" type="text" class="form-control" formControlName="dateAdded"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="info" class="col-sm-3 col-form-label"><strong>Opis</strong></label>
    <div class="col-sm-9">
      <textarea id="info" class="form-control" formControlName="info"></textarea>
    </div>
  </div>
  <div class="text-right">
    <button pButton type="button" class="ui-button-primary" icon="fas fa-times" label="Anuluj" (click)="cancel()"></button>
    <button pButton type="submit" class="ui-button-success" icon="far fa-save" label="Zapisz"
            [disabled]="!form.valid"></button>
  </div>
</form>
