input.form-control {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  border-radius: inherit;
  padding: 0rem !important;
  line-height: 1;
  background: transparent;
}
.col-form-label {
  padding-top: 0;
}
form {

}

