<aside id="logout" class="row" style="background: #e8e8e8; border-bottom: 1px solid #d8d5d5;">
  <div class="col-2 " style="margin: 3px 0;font-size: 120%;line-height: inherit;">
    <span class="fas fa-bars"></span>
  </div>
    <div class="col-8 searchResult"  style="margin: 5px 0;line-height: inherit;  font-weight: 600;">FORD MUSTANG VI, SEDAN, 1996r, GDA1313, JAN KOWALSKI, WARSZAWA, <span
      class="fas fa-phone-volume" title="telefon"></span> +48
      555 555 555
    </div>
    <div class="col-4 col-md-2 float-right btn-logout">
      <div class="btn-logoutText">
        WITAJ DANIEL!
      </div>
      <div class="fas fa-sign-out-alt btn-logoutIcon"></div>

    </div>

</aside>
