<div class="serviceTile">
  <div  class="tile" [attr.id]="'tile'+getRandomColorScheme()">

    <div  class="carousel slide" data-ride="carousel"  [attr.data-interval]="getRandomDataInterval()">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="tileHeader">
            Wymiana oleju
          </div>
          <h3 class="tileCaptionHeader"><i class="fas fa-tint"></i></h3>
          <div class="float-right serviceDate">{{carInspections.oilChangeDate}}</div>
        </div>
        <div class="carousel-item">
          <div class="tileHeader">Wymiana rozrządu</div>
          <h3 class="tileCaptionHeader"><i class="fas fa-wrench"></i></h3>
          <div class="float-right serviceDate">{{carInspections.timingBeltChangeDate}}</div>
        </div>
        <div class="carousel-item active">
          <div class="tileHeader">Przegląd techniczny </div>
          <h3 class="tileCaptionHeader"><i class="fas fa-stethoscope"></i></h3>
          <div class="float-right serviceDate">{{carInspections.technicalInspectionDate}}</div>
        </div>
        <div class="carousel-item">
          <div class="tileHeader">{{carInspections.clientName}}</div>
          <p class="tileCaptionHeader PersonData">
            <i class="fas fa-user"></i> <br><span>{{carInspections.clientPhone}}</span></p>
          <div class="float-right serviceUserDate">{{carInspections.carBrand}}, {{carInspections.carModel}}</div>
        </div>
      </div>
    </div>

  </div>
</div>

