<div class="serviceTile">
  <div id="{{to}}" class="tile">

    <div class="carousel slide" data-ride="carousel" data-interval="10000">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="tileHeader">
            Wymiana oleju
          </div>
          <h3 class="tileCaptionHeader"><i class="fas fa-tint"></i></h3>
          <div class="float-right serviceDate">22.11</div>
        </div>
        <div class="carousel-item">
          <div class="tileHeader">Wymiana rozrządu</div>
          <h3 class="tileCaptionHeader"><i class="fas fa-wrench"></i></h3>
          <div class="float-right serviceDate">12.11</div>
        </div>
        <div class="carousel-item active">
          <div class="tileHeader">Przegląd techniczny </div>
          <h3 class="tileCaptionHeader"><i class="fas fa-stethoscope"></i></h3>
          <div class="float-right serviceDate">05.06</div>
        </div>
        <div class="carousel-item">
          <div class="tileHeader">Mariusz Pudzianowski</div>
          <p class="tileCaptionHeader PersonData">
            <i class="fas fa-user"></i> <br><span>+48 555 555 555</span></p>
          <div class="float-right serviceUserDate">FORD MUSTANG VI, SEDAN</div>
        </div>
      </div>
    </div>

  </div>
</div>

